@{
    ViewBag.Title = "Show";
}

<h1>Afisare articol</h1>
<h2>@ViewBag.Post.Title</h2>
<p>@ViewBag.Post.Content</p>
<p>@ViewBag.Post.Date</p>

<p>Categorie: @ViewBag.Tag.TagName</p>


<a href="/Posts/Edit/@ViewBag.Post.Id">Modify Post</a>

<form method="post" action="/Posts/Delete/@ViewBag.Post.Id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Delete post</button>
</form>
<!--Aici copiez chestia din lab 5 care afiseaza comentariile sub fiecare articol-->
<br />
@foreach (var comm in ViewBag.Post.Comments)
{
    <div class="container">
        <div class="row">
            <div>
                <p>@comm.Content</p>
                <small>@comm.Date</small>
            </div>
            <form method="post" action="/Comments/Delete/@comm.CommentId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit">Delete commm</button>
            </form>
            <a href="/Comments/Edit/@comm.CommentId">Edit comm</a>
        </div>
        <br />
        <br />
    </div>
    <hr />
}

<h4>@ViewBag.message</h4>

<form method="post" action="/Comments/New">
    <input type="hidden" name="PostId"
           value="@ViewBag.Post.Id" />
    <label>Comm content</label>
    <br />
    <textarea name="Content"></textarea>
    <br />
    <button type="submit">Add comm</button>

</form>


<!--Aici se termina bucata de cod din lab 5-->
<hr />
<a href="/Posts/Index">Back to main page</a>
<br />
<br />
